<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title" style="text-align: center">خبر جديد</h4>
                      <p class="card-category" style="text-align: center">اضافة خبر جديد الى لوحة الاخبار</p>
                  </div>
                  <div class="card-body">
                      <form #f="ngForm" (ngSubmit)="saveFormData(f)">
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="عنوان المقالة" name="article_title" [(ngModel)]="article_title" required>
                                  </mat-form-field>
                              </div>
                          </div>
                           <div class="row">
                              <div class="col-md-12">
                                <div class="example-full-width">
                                    <p>صورة المقالة</p>
                                  <input type="file" (change)="onSelectedFile($event)" accept=".png,.jpg" required />	
                                  <div class="progress">
                                    <div class="progress-bar default-bg-color" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>								  
                                </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <label>تفاصيل المقالة</label>
                                <editor name="article_details" [(ngModel)]="article_details"></editor>
                              </div>
                          </div>
                          <button mat-raised-button type="submit" [disabled]="!f.valid"  class="btn btn-danger pull-right"><i class="material-icons">check</i> اضافة</button>
                          <button mat-raised-button class="btn btn-danger pull-right" (click)="cancel()"><i class="material-icons">cancel</i> الغاء</button>
                          <div class="clearfix"></div>
                      </form>				  
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
