<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title" style="text-align: center">خبر جديد</h4>
                      <p class="card-category" style="text-align: center">اضافة خبر جديد الى لوحة الاخبار</p>
                  </div>
                  <div class="card-body">
                      <form #f="ngForm" (ngSubmit)="saveFormData(f)">
                          <div class="row">
                              <div class="col-md-10">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="عنوان المقالة" name="article_title" [(ngModel)]="article_title" required>
                                  </mat-form-field>
                              </div>
							  <div class="col-md-2">
								<mat-form-field>
								  <input matInput placeholder="اختر التاريخ" [matDatepicker]="picker" name="article_date" [(ngModel)]="article_date" required>
								  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								  <mat-datepicker #picker></mat-datepicker>
								</mat-form-field>								
                              </div>
                          </div>
						  <div class="row">
                              <div class="col-md-12">
                                <div class="example-full-width">
                                  <input type="file" (change)="onSelectedFile($event)" accept=".png,.jpg" required />	
									<div class="progress">
									<div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
								    </div>								  
                                </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <label>تفاصيل المقالة</label>
                                <editor name="article_details" [(ngModel)]="article_details"></editor>
                              </div>
                          </div>
                          <button mat-raised-button type="submit" [disabled]="!f.valid"  class="btn btn-danger pull-right">اضافة</button>
						  <p-toast position="bottom-center"></p-toast>	
                          <div class="clearfix"></div>
                      </form>				  
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
