<div class="main-content">
    <div class="container-fluid">
            <ng4-loading-spinner> </ng4-loading-spinner>
      <div class="card">
          <div class="card-header card-header-danger">
              <h4 class="card-title" style="text-align: center">لوحة المعلومات</h4>
              <p class="card-category" style="text-align: center">لوحة خاصة تحتوي على معلومات تتعلق بلجامعة او الكلية</p>
              <button mat-raised-button  class="btn btn-danger btn-round pull-right" (click)="addAbout()"><i class="material-icons">short_text</i> تحديث</button>			  
          </div>
          <div class="card-body">
              <div id="typography">
                  <div class="card-title" style="text-align: center">
                      <h2>الرؤية</h2>
					  <p>{{vision}}</p>
                  </div>
				  <hr>
                  <div class="card-title" style="text-align: center">
                      <h2>الاهداف</h2>
					  <p>{{objectives}}</p>
                  </div>
				  <hr>
                  <div class="card-title" style="text-align: center">
                      <h2>رسالتنا</h2>
					  <p>{{mission}}</p>
                  </div>
				  <hr>
                  <div class="card-title" style="text-align: center">
                      <h2>الاقسام</h2>
					  <p>{{departments}}</p>
                  </div>
				  <hr>				  
                </div>
            </div>
        </div>
    </div>
</div>
  