<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title" style="text-align: center">لوحة التواصل</h4>
                      <p class="card-category" style="text-align: center">تحديث بيانات لوحة التواصل</p>
                  </div>
                  <div class="card-body">
                      <form #f="ngForm" (ngSubmit)="saveFormData(f)">
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
									<input matInput placeholder="البريد الالكتروني" name="contact_email" [(ngModel)]="contact_email" required>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
									<input matInput placeholder="رقم الهاتف" name="contact_number" [(ngModel)]="contact_number" required>
                                  </mat-form-field>
                              </div>							  
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
									<input matInput placeholder="خط الطول للخريطة" name="contact_map_lat" [(ngModel)]="contact_map_lat" required>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
									<input matInput placeholder="خط العرض للخريطة" name="contact_map_lng" [(ngModel)]="contact_map_lng" required>
                                  </mat-form-field>
                              </div>							  
                          </div>					  
                          <button mat-raised-button type="submit" [disabled]="!f.valid"  class="btn btn-danger pull-right"><i class="material-icons">check</i> تحديث</button>
						  <button mat-raised-button class="btn btn-danger pull-right" (click)="cancel()"><i class="material-icons">cancel</i> الغاء</button>						  
                          <div class="clearfix"></div>
                      </form>				  
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
