<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title" style="text-align: center">الجدول الاسبوعي</h4>
        <p class="card-category" style="text-align: center">الجدول الاسبوعي الخاص بلمراحل والاقسام</p>
        <button mat-raised-button class="btn btn-danger btn-round pull-right" routerLink="/add-weekly"><i
            class="material-icons">short_text</i> اضافة</button>
      </div>
      <div class="card-body">
        <div class="card-body">
          <div id="no-items-ava">
            <img src="assets/img/weekly.svg" style="width: 140px;height: 140px;">
            <p style="font-weight: bold; margin:10px">لا يوجد بيانات</p>
          </div>
          <div id="SHOW">
            <form #f="ngForm" (ngSubmit)="saveFormData(f)">
              <div class="row" style="direction: rtl">
                <div class="col-md-4">
                  <h4 style="text-align: right">القسم</h4>
                  <mat-form-field>
                    <mat-label>اختر القسم</mat-label>
                    <mat-select name="department" [(ngModel)]="department">
                      <mat-option *ngFor="let dep of departData" [value]="dep.name">
                        {{dep.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <h4 style="text-align: right">المرحلة</h4>
                  <mat-form-field>
                    <mat-label>اختر المرحلة</mat-label>
                    <mat-select name="stage" [(ngModel)]="stage">
                      <mat-option [value]="1">الاولى</mat-option>
                      <mat-option [value]="2">الثانية</mat-option>
                      <mat-option [value]="3">الثالثة</mat-option>
                      <mat-option [value]="4">الرابعة</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4" style="margin-top: 25px">
                  <button mat-raised-button (click)="filterExact('filter')" class="btn btn-danger pull-right"><i
                      class="material-icons">check</i> بحث</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4" *ngFor="let item of filterData">
                  <div class="card-deck">
                    <div class="card">
                      <img class="card-img-top img-adjusted" src="{{item.image}}">
                      <div class="card-body">
                        <h5 class="card-title">{{item.department}} {{item.stage}}</h5>
                        <button class="btn btn-danger btn-round btn-sm" (click)="openDialog(item.id, item.imgname)"><i
                            style="margin: 0 auto" class="material-icons">delete</i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>