.mcard{
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  .signin-content {
    padding: 150px 1rem;
  }
  .full-width-input {
    width: 100%;
  }

  .form-check .form-check-input:checked + .form-check-sign .check {
    background: red;
}

.login-main{
  height: 100vh;
  background-image: linear-gradient(rgba(230, 61, 57, 0.5), rgba(0, 0, 0, 0.14)), url(/assets/img/log.jpg);
}