.mcard{
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  .signin-content {
    padding: 60px 1rem;
    margin-top : 100px;
  }
  .full-width-input {
    width: 100%;
  }

  .form-check .form-check-input:checked + .form-check-sign .check {
    background: red;
}