<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title" style="text-align: center">قائمة المعلومات</h4>
                      <p class="card-category" style="text-align: center">تحديث قائمة المعلومات الجامعة او الكلية</p>
                  </div>
                  <div class="card-body">
                      <form #f="ngForm" (ngSubmit)="saveFormData(f)">
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field >
									<textarea matInput placeholder="الرؤية" name="vision" [(ngModel)]="vision" required></textarea>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field >
									<textarea matInput placeholder="الاهداف" name="objectives" [(ngModel)]="objectives" required></textarea>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field >
									<textarea matInput placeholder="رسالتنا" name="mission" [(ngModel)]="mission" required></textarea>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field >
									<textarea matInput placeholder="الاقسام" name="departments" [(ngModel)]="departments" required></textarea>
                                  </mat-form-field>
                              </div>
                          </div>					  
                          <button mat-raised-button type="submit" [disabled]="!f.valid"  class="btn btn-danger pull-right"><i class="material-icons">check</i> تحديث</button>
						  <button mat-raised-button class="btn btn-danger pull-right" routerLink="/about"><i class="material-icons">cancel</i> الغاء</button>						  	
                          <div class="clearfix"></div>
                      </form>				  
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
