<div class="main-content">
    <div class="container-fluid">
            <ng4-loading-spinner> </ng4-loading-spinner>
        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title" style="text-align: center">لوحة الاخبار الرئيسية</h3>
                <button mat-raised-button  class="btn btn-danger btn-round pull-right" (click)="addArticle()"><i class="material-icons">control_point</i> اضافة خبر جديد</button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div id="no-items-ava">
                        <img src="assets/img/news.svg">
                        <p style="font-weight: bold; margin:10px">لا يوجد عناصر</p>
                    </div>                    
                    <div id="SHOW" class="col-md-6 col-sm-6 col-lg-4" *ngFor="let item of articlesData" style="margin-top: 25px;">
                        <div class="card card-profile">
                            <div class="card-avatar">
                                <a href="#pablo">
                                    <img class="img" src="{{item.image}}" />
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-gray">{{item.title}}</h6><hr>
                                <p class="card-description" [innerHTML]="toHTML(item.description)"></p>
								<i class="material-icons">update</i>
								<h6 class="card-title">{{item.date.toDate() | date: "fullDate"}}</h6>
								<button class="btn btn-danger btn-round btn-sm" (click)="updateArticle(item)"><i class="material-icons">edit</i></button>
                                <button class="btn btn-danger btn-round btn-sm" (click)="openDialog(item.id, item.imgname)"><i class="material-icons">delete</i></button>
                            </div>
                       </div>
                    </div>                    
                </div>
				<p-toast position="bottom-center"></p-toast>			
            </div>			
        </div>
    </div>
  </div>
  



