<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title" style="text-align: center">لوحة الاخبار الرئيسية</h3>
                <button mat-raised-button  class="btn btn-danger pull-right" (click)="addArticle()">اضافة خبر جديد</button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4" *ngFor="let item of articlesData" style="margin-top: 25px;">
                        <div class="card card-profile">
                            <div class="card-avatar">
                                <a href="#pablo">
                                    <img class="img" src="{{item.image}}" />
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-gray">{{item.title}}</h6>
                                <h4 class="card-title">{{item.date.toDate() | date: "medium"}}</h4>
                                <p class="card-description" [innerHTML]="toHTML(item.description)"></p>
                                <button class="btn btn-danger btn-round" (click)="updateArticle(item)">تعديل</button>
                                <button class="btn btn-danger btn-round " (click)="deleteArticle(item.id)">حذف</button>
                            </div>
                       </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
  </div>
  



