<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title" style="text-align: center">لوحة الاخبار الرئيسية</h3>
                <button mat-raised-button  class="btn btn-danger btn-round pull-right" routerLink="/add-article"><i class="material-icons">control_point</i> اضافة خبر جديد</button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div id="no-items-ava">
                        <img src="assets/img/news.svg">
                        <p style="font-weight: bold; margin:10px">لا يوجد عناصر</p>
                    </div>                    
                    <div id="SHOW">
                        <div class="card-group">
                            <div class="card" *ngFor = "let item of articlesData" style="margin:5px">
                                <img class="card-img-top" src="{{item.image}}">
                                    <div class="card-body">
                                    <h5 class="card-title">{{item.title}}</h5>
                                    <p style = "max-width: 250px" class="card-text" [innerHTML]="substringText(item.description)"></p>
                                    <p class="card-text"><small class="text-muted">{{item.date}}</small></p>
                                    <button class="btn btn-danger btn-round btn-sm" (click)="viewDialog(item)"><i class="material-icons">visibility</i></button>
                                    <button class="btn btn-danger btn-round btn-sm" (click)="updateArticle(item)"><i class="material-icons">edit</i></button>
                                    <button class="btn btn-danger btn-round btn-sm" (click)="openDialog(item.id, item.imgname)"><i class="material-icons">delete</i></button>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>		
            </div>			
        </div>
    </div>
  </div>
  



