<div class="main-content">
    <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-danger">
              <h4 class="card-title" style="text-align: center">اللوحة الرئيسية</h4>
              <p class="card-category" style="text-align: center">مرحبا بكم في اللوحة الرئيسية الخاصة بلتطبيق</p>
          </div>
          <div class="card-body">
              <div id="typography">
                  <div class="card-title" style="text-align: center">
                      <h2>احصائيات</h2>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-danger card-header-icon">
                                <div class="card-icon">
                                <i class="material-icons">library_books</i>
                                </div>
                                <p class="card-category">عدد الاخبار المضافة</p>
                                <h3 class="card-title" *ngFor = "let i of Count">{{i.News}}</h3>
                            </div>
							<div class="card-footer"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-danger card-header-icon">
                                <div class="card-icon">
                                <i class="material-icons">ondemand_video</i>
                                </div>
                                <p class="card-category">عدد الفيديوهات المضافة</p>
                                <h3 class="card-title" *ngFor = "let i of Count">{{i.Videos}}</h3>
                            </div>
							<div class="card-footer"></div>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                        <div class="card card-stats">
                            <div class="card-header card-header-danger card-header-icon">
                                <div class="card-icon">
                                <i class="material-icons">notifications</i>
                                </div>
                                <p class="card-category">عدد الاحداث المرسلة</p>
                                <h3 class="card-title" *ngFor = "let i of Count">{{i.Events}}</h3>
                            </div>
							<div class="card-footer"></div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
  