<div class="main-content">
    <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-danger">
              <h4 class="card-title" style="text-align: center">لوحة الاتصال</h4>
              <p class="card-category" style="text-align: center">لوحة التواصل مع الجامعة او الكلية</p>
              <button mat-raised-button  class="btn btn-danger btn-round pull-right" (click)="addContact()"><i class="material-icons">short_text</i> تحديث</button>			  
          </div>
          <div class="card-body">
              <div id="typography">
                  <div style="text-align: center">
                      <h2 class="default-color">البريد الالكتروني</h2>
					  <p>{{email}}</p>
                  </div>
				  <hr>
                  <div style="text-align: center">
                      <h2 class="default-color">رقم الهاتف</h2>
					  <p>{{number}}</p>
                  </div>
				  <hr>
                  <div class="card-title" style="text-align: center">
                    <h2 class="default-color">عنوان الجامعة</h2>
                    <div id="map"></div>
                  </div>
				  <hr>			  
                </div>
            </div>
        </div>
    </div>
</div>
  