/* You can add global styles to this file, and also import other style files */

body .ui-toast .ui-toast-message.ui-toast-message-warn {
    background-color: linear-gradient(60deg, #ef5350, #e53935);
	background: linear-gradient(60deg, #ef5350, #e53935);
    border: 0 none;
    color: #fff;
}
body .ui-toast .ui-toast-message.ui-toast-message-warn .ui-toast-close-icon{
	color: #fff;
}