/* You can add global styles to this file, and also import other style files */

body .ui-toast .ui-toast-message.ui-toast-message-warn {
    background-color: linear-gradient(60deg, #ef5350, #e53935);
	background: linear-gradient(60deg, #ef5350, #e53935);
    border: 0 none;
    color: #fff;
}

body .ui-toast .ui-toast-message.ui-toast-message-success {
    background-color: linear-gradient(60deg, #00C853, #64DD17);
	background: linear-gradient(60deg, #00C853, #64DD17);
    border: 0 none;
    color: #fff;
}

body .ui-toast .ui-toast-message.ui-toast-message-warn .ui-toast-close-icon{
	color: #fff;
}

body .ui-toast .ui-toast-message.ui-toast-message-success .ui-toast-close-icon{
	color: #fff;
}

agm-map {
  height: 300px;
}

.mcorn{
    border-radius:7px !important;
}

/* webkit solution */
::-webkit-input-placeholder { text-align:right; }
/* mozilla solution */
input:-moz-placeholder { text-align:right; }

body{
    background: #fff;
    background-color: #fff;
}
