<div class="main-content">
    <div class="container-fluid">
            <ng4-loading-spinner> </ng4-loading-spinner>
        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title" style="text-align: center">لوحة الفيديوهات الرئيسية</h3>
                <button mat-raised-button  class="btn btn-danger btn-round pull-right" (click)="addVideo()"><i class="material-icons">control_point</i> اضافة فيديو جديد</button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-4" *ngFor="let item of videosData" style="margin-top: 25px;">
                        <div class="card card-profile">
                            <div class="card-body">
							<youtube-player [videoId]="youtube_parser(item.link)" [height]= "140" [width]="240"></youtube-player><hr>
                                <h6 class="card-category text-gray">{{item.title}}</h6>							
                                <button class="btn btn-danger btn-round btn-sm" (click)="updateVideo(item)"><i class="material-icons">edit</i></button>
                                <button class="btn btn-danger btn-round btn-sm" (click)="deleteVideo(item.id)"><i class="material-icons">delete</i></button>
                            </div>
                       </div>
                    </div>                    
                </div>
				<p-toast position="bottom-center"></p-toast>
            </div>
        </div>
    </div>
  </div>
  



